# Tex complie files
*.aux
*.log
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml

# MacOS file
.DS_Store

.vscode/settings.json
*.pyc
*.mat
src/rotating_vector_3d.gif
src/ex_3.fig
src/idft.m
src/*.gif
*.lof
*.lot
*.out
