# Tex complie files
*.aux
*.log
*.synctex.gz
*.toc
*.bbl
*.bcf
*.blg
*.run.xml

# MacOS file
.DS_Store

.vscode/settings.json
*.pyc
*.mat
src/rotating_vector_3d.gif
src/ex_3.fig
src/idft.m
src/*.gif
*.lof
*.lot
*.out

src/Training/*


Video/img_23011817405.png
Video/img_23011817782.png
Video/img_23011817988.png
progress_outline/1_problem.tex
progress_outline/2_review.tex
progress_outline/3_method.tex
progress_outline/4_analysis.tex
progress_outline/5_plan.tex
progress_outline/PHAS0077_outline_22108699.pdf
progress_outline/PHAS0077_outline_22108699.tex
progress_outline/README.md
progress_outline/assets/schematic.png
Thesis/.cspell/custom-dictionary.txt
oral_pre/Chongfeng_Ling_1716474.pdf
oral_pre/data.png
oral_pre/DDPG.png
oral_pre/density_profile.png
oral_pre/example_f.png
oral_pre/figs.drawio
oral_pre/final_recon.png
oral_pre/G_K_traj.png
oral_pre/GE_seq.png
oral_pre/GEGame.png
oral_pre/graph_c.png
oral_pre/graph.png
oral_pre/IR_seq.png
oral_pre/m1-3.png
oral_pre/Main.pdf
oral_pre/Major A.png
oral_pre/obj1.png
oral_pre/obj2.png
oral_pre/pulse_sequence.png
oral_pre/reconstructed_object.png
oral_pre/ref.bib
oral_pre/references.bib
oral_pre/res_obj1.png
oral_pre/res_obj2.png
oral_pre/running_time.png
oral_pre/signal.png

oral_pre/slides_Chongfeng.pdf
oral_pre/slides.nav
oral_pre/slides.snm
oral_pre/slides.tex
oral_pre/Snipaste_2022-05-15_22-49-56.png
oral_pre/time_tmp.png
oral_pre/timetable_example.png
oral_pre/UCL_logo.jpg
oral_pre/ucl-logo-black-on-grey.jpg
oral_pre/xjtlu_logo.jpg

src/DDPG.py
thesis/.gitignore
thesis/.travis.yml
thesis/Appendices.tex
thesis/BibSettings.tex
thesis/c0Preamble.tex
thesis/c1Introduction.tex
thesis/c2Review.tex
thesis/c3Methodology.tex
thesis/c4Experiments.tex
thesis/c5Analysis.tex
thesis/c6Conclusions.tex
thesis/COPYING
thesis/example.bib
thesis/Exported Items.bib
thesis/FloatSettings.tex
thesis/LinksAndMetadata.tex
# thesis/Main.pdf
thesis/Main.tex
thesis/MainPackages.tex
thesis/Makefile
thesis/MANIFEST.md
thesis/README.md
thesis/ucl_thesis.cls
thesis/assets/ActorN.drawio
thesis/assets/ActorN.png
thesis/assets/CriticN.drawio
thesis/assets/CriticN.png
thesis/assets/DDPG.png
thesis/assets/density_profile.png
thesis/assets/final_recon.png
thesis/assets/G_K_traj.png
thesis/assets/GEGame.drawio
thesis/assets/GEGame.png
thesis/assets/obj1.png
thesis/assets/obj2.png
thesis/assets/pulse_sequence.drawio
thesis/assets/pulse_sequence.png
thesis/assets/reconstructed_object.png
thesis/assets/res_obj1.png
thesis/assets/res_obj2.png
thesis/assets/signal.png
